<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Vidlio</title>

    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/horizontal.css" />

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="css/app.css" />

    <script src="js/vendor/custom.modernizr.js"></script>

  </head>

  <body>

  <!-- Nav Bar -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
              <a href="/"><img src="img/vidlio_logo_white.png" width="70">
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="{% url 'userena_profile_edit' user.username %}">Edit Profile</a></li>
        <li class="divider"></li>
        <li><a href="/signout">Sign Out</a></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>

  <!-- Main content row -->
  <div class="row">
    <div class="main">
      <center><iframe class="video" src="http://www.youtube.com/embed/1eWdbMBYlH4?rel=0&wmode=transparent" wmode="Opaque" frameborder="0" allowfullscreen></iframe></center>
    </div>
  </div>
  
  <!-- Scroll bar row -->
  <div class="row">
    <div class="leftarrow">
      <button class="btn prev"><i class="icon-chevron-left"></i></button>
    </div>
    <div class="scroll">
      <div class="wrap">
        <div class="frame" id="basic">
          <ul class="clearfix">
            <li><img src="http://img.youtube.com/vi/1eWdbMBYlH4/hqdefault.jpg"></li>
            <li><img src="http://img.youtube.com/vi/07FYdnEawAQ/hqdefault.jpg"></li>
            <li><img src="http://img.youtube.com/vi/xdeFB7I0YH4/hqdefault.jpg"></li>
            <li><img src="http://img.youtube.com/vi/cmSbXsFE3l8/hqdefault.jpg"></li>
            <li><img src="http://img.youtube.com/vi/yyDUC1LUXSU/hqdefault.jpg"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rightarrow">
      <button class="btn next"><i class="icon-chevron-right"></i></button>
    </div>
  </div>
    <!-- Footer --> 
<!--   <footer class="row">
        <div class="large-12 columns"><hr>
          <ul class="inline-list middle">
            <li><a href="#">@MyVidlio</a></li>
          </ul>
        </div>
      </footer> -->
 
    <!-- End Footer -->
 
    </div>
  </div>
<!-- End Footer -->

    <script>
    document.write('<script src=' +
    ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
    '.js><\/script>')
    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="js/sly.min.js"></script>
    <script src="js/horizontal.js"></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/zepto.js"></script>
    <script src="js/vendor/plugins.js"></script>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>