{% load i18n %}
{% load url from future %}

<html>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>Vidlio</title>

      <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
      <link rel="stylesheet" href="http://dl.dropboxusercontent.com/u/3848960/css/normalize.css" />
      <link rel="stylesheet" href="http://dl.dropboxusercontent.com/u/3848960/css/foundation.css" />
      <link rel="stylesheet" href="http://dl.dropboxusercontent.com/u/3848960/css/custom.css" />
      <link rel="stylesheet" href="http://dl.dropboxusercontent.com/u/3848960/css/horizontal.css" />

      <!-- If you are using the gem version, you need this only -->

  </head>


{% block content %}

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
              <a href="/"><img src="http://dl.dropboxusercontent.com/u/3848960/img/vidlio_logo_white.png" width="70">
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="{% url 'userena_profile_edit' user.username %}">Edit Profile</a></li>
        <li class="divider"></li>
        <li><a href="/signout">Sign Out</a></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
<div class="row">
  <form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <fieldset>
      {{ form.as_p }}
    </fieldset>
    <input type="submit" value="{% trans "Save changes" %}" />
  </form>
</div>
{% endblock %}
