body{
	background-color: #222;
}

.scroll{
	position: block;
	height: 195px;
	/* 45px */
	/*border: solid 1px #333;*/
}

.main{
	height: calc(100% - 285px);
	/*border: solid 1px #333;*/
	padding-top: 10px;
}

.clearfix:before, .clearfix:after { 
	content: " "; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.clearfix { 
	*zoom:1; 
}

.video1{
	display: none;
	visibility: hidden;
}

.video2{
	display: none;
	visibility: hidden;

}

.video3{
	display: none;		
	visibility: hidden;

}

.video4{

}

.video5{
	display: none;
	visibility: hidden;
}

.leftarrow, .rightarrow{
	position: absolute;
	padding-top: 20px;
	position:block;
	width: auto;
	height: 100%;
	top: 0;

}
.leftarrow {
	right:100%;
}
.rightarrow {
	left:100%;
}

button {
	border:none;
	height:100%;
	background:#000;
	opacity:0.5;
}

button:hover {
	background:#000;
	opacity:0.8;
}
/*.right{
	position: block;
}*/